<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <style>
        #signupForm > p > label > span { display: block; }
        #signupForm > p > label > input { display: block; width: 100%; box-sizing: border-box; }
    </style>
</head>
<body>

<h1>Sign Up</h1>

<form action="#" th:action="@{/signup}" method="post" id="signupForm">
    <p>
        <label>
            <span>Username: </span>
            <input type="text" name="username" placeholder="Username" required>
        </label>
    </p>
    <p>
        <label>
            <span>Password: </span>
            <input type="password" name="password" placeholder="Password" required>
        </label>
    </p>
    <p>
        <label>
            <span>Name: </span>
            <input type="text" name="name" placeholder="Name" required>
        </label>
    </p>
    <p>
        <label>
            <span>Email: </span>
            <input type="text" name="email" placeholder="Email" required>
        </label>
    </p>
    <p>
        <input type="submit" value="Sign up">
    </p>
</form>

</body>
</html>