spring:
  application:
    name: step13

  datasource:
    # driver-class-name: org.h2.Driver
    # url: jdbc:h2:~/test
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:h2:~/test
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database: h2
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show-sql: true
        format_sql: true
        use_sql_comments: false

  thymeleaf:
    prefix: file:src/main/resources/templates/
    cache: false


  data:
    web:
      pageable:
        default-page-size: 10
        one-indexed-parameters: true