<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="jdbc" level="off" />
    <logger name="jdbc.sqlonly" level="off" />
    <logger name="jdbc.sqltiming" level="debug" />
    <logger name="jdbc.connection" level="warn" />
    <logger name="jdbc.audit" level="warn" />
    <logger name="jdbc.resultset" level="warn" />
    <logger name="jdbc.resultsettable" level="debug" />
</configuration>