<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${postDto.title}"></title>
    <style>
        #container { width: 800px; }
        #container > ul { list-style-type: none; padding: 0; display: flex; gap: 50px; }
    </style>
    <script>
        window.addEventListener('load', function () {
           document.getElementById('delete')?.addEventListener('click', function (event) {
               if (!window.confirm('Are you sure to delete the post?')) {
                   event.preventDefault();
               }
           });
        });
    </script>
</head>
<body>

<div id="container" th:object="${postDto}">
    <h1 th:text="*{title}"></h1>

    <ul id="info">
        <li>ID: <span th:text="*{id}"></span></li>
        <li>Writer: <span th:text="*{writer}"></span></li>
        <li>Date: <span th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></li>
        <li>Last updated: <span th:text="*{#temporals.format(updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></li>
    </ul>

    <p th:text="*{content}"></p>

    <hr>

    <p>
        [<a th:href="@{list}">List</a>]
        [<a th:href="@{update(id=*{id})}">Update</a>]
        [<a th:href="@{delete(id=*{id})}" id="delete">Delete</a>]
    </p>
</div>

</body>
</html>